[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
numpy = "*"
jinja2 = "*"
numba = "*"
pyopencl = "*"
pandoc-eqnos = "*"
pandoc-fignos = "*"
jupyterlab = "*"
jupyter-client = "*"
entangled-filters = "==0.8.3"

[dev-packages]

[requires]
python_version = "3.9"
